{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href={% static "img/fav.png" %}>
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href={% static "css/linearicons.css" %} />
    <link rel="stylesheet" href={% static "css/owl.carousel.css" %} />
    <link rel="stylesheet" href={% static "css/font-awesome.min.css" %} />
    <link rel="stylesheet" href={% static "css/themify-icons.css" %} />
    <link rel="stylesheet" href={% static "css/nice-select.css" %} />
    <link rel="stylesheet" href={% static "css/nouislider.min.css" %} />
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} />
    <link rel="stylesheet" href={% static "css/main.css" %} />
    <link rel="stylesheet" href={% static "css/cart.css" %} />
</head>

<body>

    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'home' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Logo" loading="lazy" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Trang chủ</a></li>

                            <!-- Shop dropdown -->
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Cửa hàng</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'category' %}">Danh mục cửa
                                            hàng</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'checkout' %}">Kiểm tra sản
                                            phẩm</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Giỏ hàng</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'confirmation' %}">Xác
                                            nhận</a></li>
                                </ul>
                            </li>

                            <!-- Blog dropdown -->
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'single-blog' %}">Chi tiết
                                            blog</a></li>
                                </ul>
                            </li>

                            <!-- Pages dropdown -->
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Trang</a>
                                <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Hồ sơ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'update_profile' %}">Cập nhật
                                            hồ sơ</a></li>
                                    <!-- Link Logout -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}" id="logout-link">Đăng xuất</a>
                                    </li>
                                    <script>
                                        document.getElementById("logout-link").addEventListener("click", function () {
                                            // Xóa cartCount khỏi localStorage và sessionStorage khi người dùng đăng xuất
                                            localStorage.removeItem("cartCount");
                                            sessionStorage.removeItem("cartCount");

                                            // Đảm bảo hiển thị cart count trở về 0 nếu có phần tử cart-count
                                            const cartCountElement = document.getElementById("cart-count");
                                            if (cartCountElement) {
                                                cartCountElement.innerText = "0";
                                            }
                                        });
                                    </script>
                                    {% else %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Đăng kí</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Đăng nhập</a></li>
                                    {% endif %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'updatePassword' %}">Cập nhật
                                            mật khẩu</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'tracking' %}">Theo dõi</a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Orders dropdown for admin -->
                            {% if user.is_authenticated %}
                              <li class="nav-item submenu dropdown">
                                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Đơn đặt hàng</a>
                                  <ul class="dropdown-menu">
                                      {% if user.is_superuser %}
                                          <li class="nav-item"><a class="nav-link" href="{% url 'shipped_dash' %}">Đơn hàng đã giao</a></li>
                                          <li class="nav-item"><a class="nav-link" href="{% url 'not_shipped_dash' %}">Đơn hàng chưa giao</a></li>
                                      {% else %}
                                          <li class="nav-item"><a class="nav-link" href="{% url 'user_orders' %}">Đơn hàng của tôi</a></li>
                                      {% endif %}
                                  </ul>
                              </li>
                            {% endif %}

                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Liên hệ</a></li>
                        </ul>

                        <!-- Cart and Search icons -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a href="{% url 'cart' %}" class="cart">
                                    <span class="ti-bag"></span>
                                    <span id="cart-count" class="badge badge-count" style="color: white">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <button class="search">
                                    <span class="lnr lnr-magnifier" id="search"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Search input box, hidden initially and toggled by JavaScript -->
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form method="POST" action="{% url 'product_search' %}">
                    {% csrf_token %}
                    <input type="text" name="query" class="form-control" placeholder="Tìm kiếm" />
                    <button type="submit" class="btn"><span class="lnr lnr-magnifier"></span></button>
                </form>
            </div>
        </div>
    </header>

    <script>
        // Toggle search input visibility
        document.querySelector('.search').addEventListener('click', function () {
            document.getElementById('search_input_box').classList.toggle('show');
        });
    </script>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Đặt hàng</h1>
                    <nav class="d-flex align-items-center">
                        <a href={ % url 'home' %}>Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href={ % url 'single-product' %}>
                            Thanh toán</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-15">
                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            Order {{ order.id }} - ${{order.amount_paid}}
                        </div>
                        <div class="card-body" style="font: bold;">
                            Email: {{ order.email}}<br />
                            {% if order.date_shipped %}
                            Date Shipped: {{ order.date_shipped}}
                            {% else %}
                            Date Ordered: {{ order.date_ordered}}
                            {% endif %}
                            <br />
                            Tên người dùng: {{ order.full_name }}<br />
                            Địa chỉ: {{ order.shipping_address }}<br />
                            {% for item in items %}
                            Sản Phẩm: {{ item.product }} <br />
                            Số lượng: {{ item.quantity }} <br />
                            Giá: {{ item.price }}<br />
                            {% endfor %}
                            <div class="text-center">
                                {% if order.shipped == 1 %}

                                <form action="{% url 'unShip_order' order.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Chưa vận chuyển</button>
                                </form>
                                {% else %}
                                <form action="{% url 'ship_order' order.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Đã vận chuyển</button>
                                </form>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Về chúng tôi</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Bản tin</h6>
                        <p>Luôn cập nhật những thông tin mới nhất của chúng tôi</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">
                                <div class="d-flex flex-row">
                                    <input class="form-control" name="EMAIL" placeholder="Nhập Email"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                        required="" type="email" />

                                    <button class="click-btn btn btn-default">
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                    <div style="position: absolute; left: -5000px">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                            type="text" />
                                    </div>

                                    <!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Nguồn cấp dữ liệu Instagram</h6>
                        <ul class="instafeed d-flex flex-wrap">
                            <li><img src={% static "img/i1.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i2.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i3.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i4.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i5.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i6.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i7.jpg" %} alt="" /></li>
                            <li><img src={% static "img/i8.jpg" %} alt="" /></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Theo dõi chúng tôi</h6>
                        <p>Chúng ta hãy hòa đồng</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    Mọi quyền được bảo lưu | Mẫu này được thực hiện với
                    <i class="fa fa-heart-o" aria-hidden="true"></i> bởi
                    <a href="https://colorlib.com" target="_blank">Nhóm 4</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->


    <script src="{% static  'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="{% static  'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static  'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static  'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static  'js/jquery.sticky.js' %}"></script>
    <script src="{% static  'js/nouislider.min.js' %}"></script>
    <script src="{% static  'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static  'js/owl.carousel.min.js' %}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{% static  'js/gmaps.min.js' %}"></script>
    <script src="{% static  'js/main.js' %}"></script>
    <script>
        window.onload = function () {
            // Lấy số lượng từ localStorage nếu có
            const savedCartCount = localStorage.getItem("cartCount");

            if (savedCartCount) {
                document.getElementById("cart-count").innerText = savedCartCount;
            } else {
                document.getElementById("cart-count").innerText = "0";
            }
        };  
    </script>
</body>

</html>